<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ServiceName" value="Bender"/>
    <add key="DisplayName" value="Bender"/>
    <add key="Description" value="Displays logfiles, uploads and downloads files."/>
    <add key="ListenPort" value="1234"/>
    <add key="LogFile" value="C:\logs\Bender.log"/>
    <add key="FileMappings" value="FileMappings.config"/>
    <add key="Servers" value="Servers.config"/>
    <add key="AppPool" value="My Front Application pool"/>
    <add key="CPCServerPort" value="1235"/>
    <add key="ServiceBinName" value="MyService.dll"/>
    <add key="WebBinName" value="MySite.dll"/>
  </appSettings>
</configuration>
